/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */





#result1{
  /* padding-top: 10px; */
}





















.inp {


  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;


}





#clock{

  color: white;
background-color: rgba(255, 255, 255, 0.078);
}






body{
/* background-image: url("/output-1.gif"); */
background-size: cover;
/* background-position: center; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-weight: 600;
}

li {

  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  font-size: larger;


}

.weather,
.desc {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em;
}

.weather {
  margin-top: -0.7em;

}

.temp-container {
  display: flex;
  justify-content: center;
}

.temp-container div {
  padding: 0.3em 1em;
}

.temp-container div:first-child {
  border-right: 1px solid black;
}

.temp-container .title {
  font-weight: 600;
}

.temp-container .temp {
  font-weight: 300;

}

.s {
  font-size: smaller;
}

@media screen and (max-width: 450px) {
  /* #result1{
    width: 250px; */
    /* font-size: small; */
    /* font-size: 7px;
    font-weight:10;
height: 200px;
  } */



  
.temp-container div {
  padding: 0.3em;
}

.temp-container div:first-child {
  border-right: 1px solid black;
  height: 130px;  
  width: 50px;
 
}

.temp-container .title {
  font-weight: 600;
}

.temp-container .temp {
  font-weight: 100;

}

.s {
  font-size: 20px;
}

}
